<!DOCTYPE html>
<html>
    <head>

    <style>
        .header { color:blue;
        }
        .error { color: red;
        }
        .fieldset { width: 600px; 
                    border:1px solid blue;
                    color:black;
        }
    </style>

    <h1 class="header">User Signup</h1>

    <form method="POST">
            <fieldset class="fieldset">
            <legend>Username</legend>
                <input name="username" type="text" value="{{username}}" />
                <br><label class="error">{{username_error}}</label>
            </fieldset>

            <fieldset class="fieldset">
            <legend>Password</legend>
                <input name="password" type="password" value="{{password}}" />
                <br><label class="error">{{password_error}}</label>
            </fieldset>

            <fieldset class="fieldset">
            <legend>Verify Password</legend>
                <input name="verify_password" type="password" value="{{verify_password}}" />
                <br><label class="error">{{verify_password_error}}</label>
            </fieldset>

            <fieldset class="fieldset">
            <legend>E-mail (Optional)</legend>
                <input name="email" type="text" value="{{email}}" />
                <br><label class="error">{{email_error}}</label>
            </fieldset>

            <p><input type="submit" /></p>

    </form>
    </body>
</html>